In [1]:
import pandas as pd

In [2]:
data = {
    "Product": ["Laptop", "Mouse", "Chair", "Laptop", "Mouse"],
    "Category": ["Electronics", "Electronics", "Furniture", "Electronics", "Electronics"],
    "Quantity": [1, 2, 1, 1, 3],
    "Price": [50000, 500, 3000, 50000, 500]
}

df = pd.DataFrame(data)

df

  Product     Category  Quantity  Price
0  Laptop  Electronics         1  50000
1   Mouse  Electronics         2    500
2   Chair    Furniture         1   3000
3  Laptop  Electronics         1  50000
4   Mouse  Electronics         3    500

In [4]:
#Create Revenue column
df["Revenue"] = df["Quantity"] * df["Price"]
df

  Product     Category  Quantity  Price  Revenue
0  Laptop  Electronics         1  50000    50000
1   Mouse  Electronics         2    500     1000
2   Chair    Furniture         1   3000     3000
3  Laptop  Electronics         1  50000    50000
4   Mouse  Electronics         3    500     1500

In [5]:
df["Revenue"].sum()

np.int64(105500)

In [6]:
#top selling product
df.groupby("Product")["Quantity"].sum()

Product
Chair     1
Laptop    2
Mouse     5
Name: Quantity, dtype: int64

In [7]:
#product that gives highest revenue
df.groupby("Product")["Revenue"].sum()

Product
Chair       3000
Laptop    100000
Mouse       2500
Name: Revenue, dtype: int64

In [9]:
#category that gives highest revenue
df.groupby("Category")["Revenue"].sum()

Category
Electronics    102500
Furniture        3000
Name: Revenue, dtype: int64

In [10]:
#category that solds most items
df.groupby("Category")["Quantity"].sum()

Category
Electronics    7
Furniture      1
Name: Quantity, dtype: int64